// ============================================= 
//                  Typography                      
// =============================================


.headline-primary {
    color: $color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $color-secondary;
  }
  
  .link {
    color: $link-color;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
  }
  