// ============================================= 
//Variable                      
// =============================================

// General Colors 
$color-primary: #58e1c1;
$color-secondary: #777;
// Need  applies these
$background: #4da2bb;
$link-color: #51ddfc;


// Col Colors

$col-color-1: #927bc1;
$col-color-2: #fd7856;
$col-color-3: #deb2ee;
$col-color-4: #7ee6fd;
$col-color-5: #88d9a0;
$col-color-6: #4da2bb;
$col-color-7: #ec9fa3;
$col-color-8: #fd9f85;
$col-color-9: #e4757a;
$col-color-10: #ec9fa3;
$col-color-11: #51ddfc;
$col-color-12: #80e8d1;


// Buttons

$btn-c-def: #51ddfc;
$btn-c-error: #e4757a;
$btn-c-info: #927bc1;
$btn-c-success: #63cc82;
$btn-c-warning: #fd7856;











