// ============================================= 
//Grid Systems                      
// =============================================
  
.container {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.theme.col-1 {
  background-color: $col-color-1;
}

.theme.col-2 {
  background-color: $col-color-2;
}

.theme.col-3 {
  background-color: $col-color-3;
}

.theme.col-4 {
  background-color: $col-color-4;
}

.theme.col-5 {
  background-color: $col-color-5;
}

.theme.col-6 {
  background-color: $col-color-6;
}

.theme.col-7 {
  background-color: $col-color-7;
}

.theme.col-8 {
  background-color: $col-color-8;
}

.theme.col-9 {
  background-color: $col-color-9;
}

.theme.col-10 {
  background-color: $col-color-10;
}

.theme.col-11 {
  background-color: $col-color-11;
}

.theme.col-12 {
  background-color: $col-color-12;
}

.card {
  flex-basis: 100%;
}
